#X {
  float: left;
  margin-left: 25%;
  margin-top: 0%;
  font-size: 200%;
  width: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  height: 100%;
  background-color: black;
  color: white;
}

#O {
   height: 100%;
   float: right;
   font-size: 200%;
   width: 25%;
   border-style: solid;
   border-width: 2px;
   border-color: white;
   margin-right: 25%;
   background-color: black;
   color: white;

}
#allButtons {
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 43%;
}
#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
  width: 2em;
  height: 2.25em;
  color: white;
  font-size: 2em;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 0% 0% 0% 0%;
}
#or {
  color: white;  
  font-size: 2em;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}
#choose {
  font-size: 3em; 
  color: white;
  margin: 0% 0% 0% 0%;
  padding-top: 5%;
}
span {
  margin: inherit;
  padding: inherit;
}
h5 {
  margin: 5% 0% 0% 0%;
}
#ttt {
  position: relative;
  font-size: 4em;
  color: white;
}
#reset {
  border-style: solid;
  border-width: 3px;
  border-color: white;
  width: 15%;
  margin: 1% 0% 0% 42.5%;
}