html {
  background: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjgv56VwNTiAhUXoZ4KHcpZBBkQjRx6BAgBEAU&url=https%3A%2F%2Ftechcrunch.com%2F2019%2F03%2F18%2Fclimacell-bets-on-iot-for-better-weather-forecasts%2F&psig=AOvVaw1L69ypufTxgs50mD5Uy-gU&ust=1559898160664985) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#p1 {
  color: white;
  font-size: 600%;
}

#temps {
  display: inline-block;
  padding: .5% .5% .5% .5%;
  border-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

div {
  float: right;
}

#location {
  display: inline-block;
  color: white;
 font-size: 3em;
}
#Ftemp, #Ctemp {
  font-size: 2em;
  display: block;
  color: white;
}
#temps {
display: inline-block;
}
#conditions {
  font-size: 3em;
  color: white;
  display: block;
}
